<!DOCTYPE html>
<html>

<head>
    <title>Restaurant Menu App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//apis.google.com/js/platform.js?onload=start"></script>
</head>

<body>
    <div class="container">
            <div class="menu">
                <div class="row top-menu">
                <div class="col-md-10"></div>
                <div class="col-md-2 text-right">
                    <a href="{{url_for('showRestaurants')}}">Go To Restaurants</a>
                </div>
            </div>
            <h1 class="header">Restaurant Menu App</h1>
            <br><br>
            <h4>Sign in with OAuth</h4>
            <div id="signInButton">
                <span class="g-signin" data-scope="openid email" data-clientid="285877107500-qn29ia72qelc4tdd6lm18tngvr915iuu.apps.googleusercontent.com" data-redirecturi="postmessage" data-accesstype="offline" data-cookiepolicy="single_host_origin" data-callback="signInCallback" data-approvalprompt="force">
                </span>
            </div>
            <fb:login-button scope="public_profile,email" onlogin="sendTokenToServer();"></fb:login-button>
            <div id="status">
        </div>
    </div>




    <script>
    // Google Oauth
    function signInCallback(authResult) {
        if (authResult['code']) {
            // Hide the sign-in button now that the user is authorized
            $('#signinButton').attr('style', 'display: none');
            // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
            $.ajax({
                type: 'POST',
                url: '/gconnect?state={{STATE}}',
                processData: false,
                data: authResult['code'],
                contentType: 'application/octet-stream; charset=utf-8',
                success: function(result) {
                    // Handle or verify the server response if necessary.
                    if (result) {
                        $('#result').html('Login Successful!</br>' + result + '</br>Redirecting...')
                        setTimeout(function() {
                            window.location.href = "/restaurant";
                        }, 4000);

                    } else if (authResult['error']) {
                        console.log('There was an error: ' + authResult['error']);
                    } else {
                        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                    }
                }

            });
        }
    }

    // Facebook Oauth
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '733137916861029',
            xfbml      : true,
            version    : 'v2.8'
        });
        FB.AppEvents.logPageView();
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));


    // This is called with the results from from FB.getLoginStatus().
    function sendTokenToServer(response) {
        var access_token = FB.getAuthResponse()['accessToken'];
        FB.api('/me', function(response) {
            $.ajax({
                type: 'POST',
                url: '/fbconnect?state={{STATE}}',
                processData: false,
                data: access_token,
                contentType: 'application/octet-stream; charset=utf-8',
                success: function(result) {
                    // Handle or verify the server response if necessary
                    if (result) {
                        $('#result').html('Login Successful!</br>' + result + '</br>Redirecting...')
                        setTimeout(function() {
                            window.location.href = "/restaurant";
                        }, 4000);
                    } else {
                        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                    }
                }
            })
        })
    }

    </script>
</body>

</html>
