{% extends "main.html" %}
{% block content %}

<div class="menu">
    <div class="toplink">
        <div class="column-left">
            <a href="/restaurant" class="toptext">Back to Restaurants</a>
        </div>
    </div>

    <div class="item">
        <h1 class="header">{{restaurant.name}}</h1>


        <div class="flash">
            <!--MESSAGE FLASHING EXAMPLE -->
            {% with messages = get_flashed_messages() %}
                {% if messages %}

                    {% for message in messages %}
                      <div><strong>{{message}}</strong></div>
                      {% endfor %}
                {% endif %}
            {% endwith %}
        </div>

    </div>


	{% if items !=[] %}

				<div class="item-header"><h3>Appetizers</h3></div><hr>
					{% for i in items %}
						{% if i.course == 'Appetizer' %}
				    	<div class="item">
					        <div class="column-left">{{i.name}}</div>
					        <div class="column-right">{{i.price}}</div>
					        <div class="column-lbottom">{{i.description}}</div>
					    </div>
						{% endif %}
					{% endfor %}

				<div class="item-header"><h3>Entrees</h3></div><hr>
					{% for i in items %}
						{% if i.course == 'Entree' %}
				    	<div class="item">
					        <div class="column-left">{{i.name}}</div>
					        <div class="column-right">{{i.price}}</div>
					        <div class="column-lbottom">{{i.description}}</div>
					    </div>
						{% endif %}
					{% endfor %}

				<div class="item-header"><h3>Desserts</h3></div><hr>
					{% for i in items %}
						{% if i.course == 'Dessert' %}
				    	<div class="item">
					        <div class="column-left">{{i.name}}</div>
					        <div class="column-right">{{i.price}}</div>
					        <div class="column-lbottom">{{i.description}}</div>
					    </div>
						{% endif %}
					{% endfor %}

				<div class="item-header"><h3>Beverages</h3></div><hr>
					{% for i in items %}
						{% if i.course == 'Beverage' %}
				    	<div class="item">
					        <div class="column-left">{{i.name}}</div>
					        <div class="column-right">{{i.price}}</div>
					        <div class="column-lbottom">{{i.description}}</div>
					    </div>
						{% endif %}
					{% endfor %}

	{% endif %}

</div>


{% endblock %}
